*{
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.flex{
    display: flex;
}

.grow-2{ flex-grow: 2; }
.grow-1{ flex-grow: 1; }

.column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.justify-evenly { justify-content: space-evenly;}

.space-between{
    justify-content: space-between;
}

.grey{
    color: grey;
}

.black{
    color: black;
}

.red{
    color: red;
}


.selectedDiv-fall{
    background-color: orange !important;
}

.selectedDiv-winter {
    background-color: rgb(91, 141, 216) !important;
}

.selectedDiv-spring {
    background-color: rgb(158, 207, 68) !important;
}

.selectedDiv-summer {
    background-color: gold !important;
}


.full-width{
    width: 100%;
}

.no-margin-on-p > p{
    margin: 0;
}
 
.margin-left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

.bla{
    align-self: flex-end;
}
.inline-flex{
    display: inline-flex;
}

.white {
    color: whitesmoke;
}

.position-absolute{
    position:absolute;
    height: 100%;
    width: 90%;
    pointer-events: none;
}

.position-absolute-task{
    position:absolute;
    width: 90%;
    bottom:0;
    left: 0;
    padding: 5px;
    pointer-events: none;
    color: black;
}

.overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pointer{
    cursor: pointer;
}

.min-height-calender{
    min-height: 100px;
}
