.calender-grid{
    display: grid;
    background-image:url("/img/mountains.jpg");
    background-size: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px 25px;
    border: 1px solid grey;
    gap: 1em;
    padding: 1em;
    position: relative;
    grid-template-areas: 
    "header header header header header header header";
}

.calender-weekdays-header{
    grid-area: header;
}

.calender-grid > div{
    background-color: whitesmoke;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    min-width: 3.5em;
    position: relative;
    font-weight: bolder;
    cursor: pointer;
    opacity: 80%; /* Blir nog snyggast så här */
    padding: 5px; /* Padding för siffrorna i div:en */
    word-wrap: break-word;
    hyphens: auto;
}

.task-div{
    position:absolute;
    bottom:5px;
    left: 0;
    color: blue;
}

@media (max-width: 1000px) {
    .calender-grid{
        display: none;
    }
}

.month-button-style {
    background-color: lightgray;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color:black;
    font-weight: bold;
    font-size: 10px;
    height: 20px;
    width: 75px;
    cursor: pointer;
}