.calender-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px 25px;
    border: 1px solid green;
    gap: 1em;
    padding: 1em;
    position: relative;
    grid-template-areas: 
    "header header header header header header header";
}

.calender-weekdays-header{
    grid-area: header;
}

.calender-grid > div{
    background-color: yellowgreen;
    min-width: 3.5em;
    position: relative;
}

.task-div{
    position:absolute;
    bottom:0;
    right:0;
}

@media (max-width: 700px) {
    .calender-grid{
        display: none;
    }
}

.month-button-style {
   background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #3c4043;
    font-size: 10px;
    padding: 0 16px;
    height: 20px;
    width: 75px;
    cursor: pointer;
}