main{
    height: calc(100% - 3rem);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4rem 100px auto;
    background-color: orange;
    grid-template-areas: 
    "sidepanel header header header"
    "sidepanel calender calender calender"
    "sidepanel calender calender calender";
}

.margin-top{
    margin-top: 2rem;
}

header{
    background-color: aquamarine;
    color: black;
    font-size: 20px;
    height: 3rem;
}

.grid-calender-header{
    grid-area: header;
    background-color: bisque;
}

.todo-side-panel{
    grid-area: sidepanel;
    background-color: pink;
}

.calender{
    grid-area: calender;
    background-color: blueviolet;
}