main{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidepanel calender calender calender";
}

header{
    background-color: white;
    color: rgb(236, 170, 70);
    font-size: 20px;
    height: 3rem;
}

.todo-side-panel{
    grid-area: sidepanel;
    background-color: pink;
}

.calender{
    grid-area: calender;
    background-color: white;
    min-height: 31em;
}

.show-calendar-button{ display: none; }

.display-none{ display: none; }