.todo-header{
    flex-grow: 1;
}

.todo-item-list{
    border-top: 1px solid grey;
    flex-grow: 3;
    color: rgb(236, 170, 70);
    padding: 5px; /* Padding för todo-listan, ser bättre ut */
}

.orange-gradient{
    background-image: linear-gradient(rgb(255,255,255), orange);
}

.todoheader-font{
    font-size: 1.5rem;
    color: rgb(236, 170, 70);
}

.pointer{
    cursor: pointer;
}

