.todo-header{
    background-color: cornflowerblue;
    flex-grow: 1;
    background-image: linear-gradient(cornflowerblue, darkblue);
}

.todo-item-list{
    background-color: cornflowerblue;
    background-image: linear-gradient(cornflowerblue, darkblue);
    flex-grow: 2;
    overflow-y: auto;
}

.todoheader-font{
    font-size: 1.5rem;
    color: whitesmoke;
}

